* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  
}
a{
  color: white;
}
body {
  overflow-x: hidden;
}
/* header basladi */


.posfo{
  position: absolute;

}
.pasfoo{
position: relative;
  top: 32px;
  left: 40px;
}
.div101p{
  padding-left: 200px;
}
.div10 {
  width: 100%;
  height: 140px;
}
.div101 {
  width: 100%;
  height: 100px;
  background-color: rgba(23, 23, 23, 1);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.div102 {
  width: 100%;
  height: 40px;
  
}
nav {
  display: flex;

  align-items: center;
  gap: 80px;
}
.button1 {
  width: 100px;
  height: 40px;
  border: 1px solid rgba(255, 215, 0, 1);
  border-radius: 8px;
  background-color: #000;
  color: rgba(255, 215, 0, 1);
}
/* section böıməsi */
.section1{
  width: 100%;
  height: 300vh;
}

.div1 {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div2 {
  height: 620px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.div3 {
  height: 220px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}
.section2{
  width: 100%;
  height: 200vh;
}
.GIZLI{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section3{
  width: 100%;
  height: 80vh;
  
}


/* responsiv dizayn */
@media (max-width: 550px) {
  nav {
    display: none 
  }
  .button1{
    display: none
  }
}
@media (min-width: 550px)  {
  .icon{
  
   display:none ;
   
  }
  
}
@media (min-width: 550px) {
  .div2{

  }
}
@media (max-width: 550px) {
  .mas{
    display: none;
  }
}
@media (min-width: 550px) {
.GIZLI{
  display: none;
}
}
 
@media (min-width: 550px){
  .section3{
    display: none;
  }
}