*{
    padding: 0px;
    margin: 0px;
}

body{
   
    overflow-x: hidden;
}
header{
    width: 100%;
    height: 700px;
    border: 2px solid black;
    background-image: url(/assets/img/Mask\ group.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}

nav ul{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    background-color: black;
    
}



img{
    object-fit: cover;
}
.image-1{
    position: relative;
    bottom: 50px;
    left: 20px;
}
li{
    color: white;
    text-decoration:none ;
    list-style: none;
    padding-top: 20px;
   position: relative;
   left: 100px;
   top: 20px;
}
a{
    text-decoration: none;
    list-style: none;
}


.button-1{
    width: 90px;
    height: 40px;
    color: yellow;
    background-color: black;
    position: relative;
    left: 30px;
    top: 30px;
    border: 2px solid yellow;

}

button:hover{
    scale: 1.1;
    color:white;
    background-color: green;
    transition: 1s;
}

div{
    position: relative;
    left: 400px;
}

h1{font-size:150px;
color: white;
}


.yazi-1{
    position: relative;
    left: 100px;
    font-size: 25px;
    color: white;
}

.button-2{
     width: 240px;
    height: 50px;
    position: relative;
    left: 500px;
    top: 40px;
    font-family: 'Courier New', Courier, monospace;
}

.button-3{
    width: 240px;
    height: 50px;
    position: relative;
    left: 570px;
    top: 40px; 
    background-color: yellow;
    font-family: 'Courier New', Courier, monospace;
    
}




.dots {
  display: flex;
  justify-content: center;
  align-items: end;
  margin-top: 120px;
  margin-right: 50%;
  gap: 10px;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.dot.active {
  background-color: #f5c400; /* Handy Daddy sarısı */
}

/* main basladi */

.sect-1{
    width: 100%;
    height: 480px;
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    background-color: antiquewhite;
    
}

.card-1{
    width: 30%;
    height: 80%;
    border: 1px solid black;
    margin-top: 50px;
    position: relative;
left: 142px ;
}


.card-2{
      width: 30%;
    height: 80%;
    margin-top: 50px;
    position: relative;
    right: 160px;
    
}

h3{
    margin-top: 30px;
    margin-left: 30px;
    font-size: 30px;
   
    text-decoration: underline #FFD700;
}

hr{
    position: relative;
    top: 10px;
}
.yazi-2{
    position: relative;
    left: 15px;
    top: 20px;
   padding: 15px;
}



.button-4{
   width: 110px;
   height: 35px;
   font-family: 'Courier New', Courier, monospace;
   background-color: #f5c400;
    position: relative;
    top: 25px;
    left: 20px;
}