* {
  padding: 0px;
  margin: 0px;
}

body {
  overflow-x: hidden;
  background-color: #ededed07;
}
/* header basladi */

header {
  width: 100%;
  height: 700px;
  border: 2px solid black;
  background-image: url(/assets/img/Mask\ group.png);
  background-repeat: no-repeat;
  background-size: cover;
}

nav ul {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  background-color: black;
}

img {
  object-fit: cover;
}
.image-1 {
  position: relative;
  bottom: 50px;
  left: 20px;
}
li {
  color: white;
  text-decoration: none;
  list-style: none;
  padding-top: 20px;
  position: relative;
  left: 130px;
  top: 20px;
}
a {
  text-decoration: none;
  list-style: none;
}

.button-1 {
  width: 90px;
  height: 40px;
  color: yellow;
  background-color: black;
  position: relative;
  left: 30px;
  top: 30px;
  border: 2px solid yellow;
}

button:hover {
  scale: 1.1;
  color: white;
  background-color: green;
  transition: 1s;
}

div {
  position: relative;
  left: 400px;
}

h1 {
  font-size: 150px;
  color: white;
}

.yazi-1 {
  position: relative;
  left: 70px;
  font-size: 25px;
  color: white;
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
}

.button-2 {
  width: 240px;
  height: 50px;
  position: relative;
  left: 500px;
  top: 90px;
  font-family: "Courier New", Courier, monospace;
  box-shadow: 1px 2px 2px 2px black;
  border: 1px solid black;
}

.button-3 {
  width: 240px;
  height: 50px;
  position: relative;
  left: 570px;
  top: 90px;
  background-color: yellow;
  font-family: "Courier New", Courier, monospace;
  box-shadow: 1px 2px 2px 2px black;
  border: 1px solid black;
}

.dots {
  display: flex;
  justify-content: center;
  align-items: end;
  margin-top: 150px;
  margin-right: 50%;
  gap: 15px;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.dot.active {
  background-color: #f5c400; /* Handy Daddy sarısı */
}

/* main basladi */
/* section-1 */
.sect-1 {
  width: 100%;
  height: 480px;
  border: 2px solid black;
  display: flex;
  justify-content: space-around;
  background-color: antiquewhite;
}

.card-1 {
  width: 30%;
  height: 80%;
  border: 1px solid black;
  margin-top: 50px;
  position: relative;
  left: 142px;
  overflow: hidden;
}

.card-1:hover {
  box-shadow: 0 0 10px #00f7ff, 0 0 20px #00f7ff, 0 0 40px #00f7ff;
  background: #00f7ff;
  color: #000;
  transition: 1s;
}

nav ul li:hover {
  scale: 1.2;
  text-decoration: underline yellow;
  transition: 1s;
}

.button-5 {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
}
.card-2 {
  width: 30%;
  height: 80%;
  margin-top: 50px;
  position: relative;
  right: 160px;
}

h3 {
  margin-top: 30px;
  margin-left: 30px;
  font-size: 30px;

  text-decoration: underline #ffd700;
}

hr {
  position: relative;
  top: 10px;
}
.yazi-2 {
  position: relative;
  left: 15px;
  top: 20px;
  padding: 15px;
}

.yazi-2:hover {
  scale: 1.1;
  text-decoration: underline rgb(8, 8, 3);
  transition: 1s;
  cursor: pointer;
}

.button-4 {
  width: 110px;
  height: 35px;
  font-family: "Courier New", Courier, monospace;
  background-color: #f5c400;
  position: relative;
  top: 25px;
  left: 20px;
  box-shadow: 1px 3px 3px 2px dimgray;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.button-7 {
  width: 110px;
  height: 35px;
  font-family: "Courier New", Courier, monospace;
  background-color: #f5c400;
  position: relative;
  top: 25px;
  left: 20px;
  margin-bottom: 60px;
  box-shadow: 1px 3px 3px 2px dimgray;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* main davam edir-section-2 */

.sect-2 {
  width: 90%;
  height: 280px;
  border: 2px solid black;
  margin-top: 10px;
  background-color: #ffd700;
  border-radius: 17px;
  position: relative;
  left: 70px;
  box-shadow: 3px 5px 5px 5px rgb(0, 0, 0);
}

h5 {
  text-decoration: underline yellow;
  padding-top: 10px;
  font-size: 30px;
  font-family: "Courier New", Courier, monospace;
}

h4 {
  font-size: 30px;
  font-family: "Courier New", Courier, monospace;
  position: relative;
  left: 65px;
  top: 80px;
}
p {
  position: relative;
  top: 30px;
}

.button-6 {
  width: 200px;
  height: 50px;
  position: relative;
  top: 140px;
  border: 2px solid black;
  left: 70px;
  background-color: #ffd700;
  box-shadow: 1px 1px 1px 1px dimgray;
}

.image-2 {
  position: relative;
  left: 528px;
  bottom: 281px;
}

.image-3 {
  position: relative;
  bottom: 300px;
}

/* section-3 basladi */

.sect-3 {
  width: 100%;
  height: 30px;
}

/* section-4 basladi */

.sect-4 {
  width: 100%;
  height: 270px;

  display: flex;
  justify-content: space-around;
}

h6 {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 30px;
  font-family: "Courier New", Courier, monospace;
}

.card-3 {
  width: 150px;
  height: 150px;
  border: 2px solid black;
  margin-top: 45px;
  box-shadow: 2px 3px 2px 3px dimgray;
}

.card-3:hover {
  scale: 1.1;
  background-color: #b29932;
  transition: 1s;
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.image-4 {
  position: relative;
  left: 55px;
  top: 35px;
}

.image-4:hover {
  transform: scale(1.2);
  transition: 1s;
}

.card-absaz {
  font: 15px;
  left: 40px;
  top: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card-absaz1 {
  font: 15px;
  left: 25px;
  top: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* section-5 basladi */

.sect-5 {
  display: flex;
  justify-content: space-around;
  height: 270px;
}

.Eyvaz:hover {
  transform: scale(1.2);
}

.card-1 img {
  transition: transform 0.9s ease;
  object-fit: cover;
}

/* section-6 basladi */

.sect-6 {
  width: 100%;
  height: 500px;

  display: flex;
  justify-content: space-around;
}

.card-4 {
  width: 40%;
  height: 350px;
  position: relative;
  top: 40px;
  border-radius: 15px;
  background-color: #343434;
  box-shadow: 3px 3px 3px 4px black;
  overflow-x: hidden;
}

.card-4:hover {
  scale: 1.1;
  transition: 1s;
  overflow: hidden;
}

.image-5 {
  position: relative;
  left: 50px;
  top: 50px;
  border-radius: 100px;
  object-fit: cover;
}

.yazi-3 {
  position: absolute;
  left: 170px;
  top: 75px;
  color: white;
  font-family: "Courier New", Courier, monospace;
}

.yazi-4 {
  position: relative;
  left: 160px;
  top: 20px;
  color: white;
  font-family: "Courier New", Courier, monospace;
}

.yazi-5 {
  position: relative;
  left: 27px;
  top: 85px;
  color: white;
  font-family: "Courier New", Courier, monospace;
}

.fa-star {
  position: relative;
  left: 450px;
  bottom: 100px;
  color: yellow;
}

.logo {
  position: relative;
  border: 2px solid black;
  height: 50px;
  width: 50px;
  top: 170px;
  border-radius: 30px;
}

.logo:hover {
  scale: 1.1;
  background-color: green;
  color: white;
}

.fa-right-long {
  font-size: 25px;
  position: relative;
  top: 12px;
  left: 9px;
}

/* section-7 basladi */

.sect-7 {
  width: 100%;
  height: 150px;
  border: 2px solid black;
  background-color: #f5c400;
  display: flex;
  justify-content: space-around;
}

.yazi-6 {
  font-size: 25px;
  position: relative;
  left: 10px;
  padding-bottom: 10px;
  top: 40px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.yazi-7 {
  font-size: 25px;
  position: relative;
  left: 10px;
  top: 50px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.empyt {
  transform: rotate(90deg);
  position: relative;
  left: 340px;
  width: 90px;
  border-color: black;
}

.button-8 {
  width: 120px;
  height: 40px;
  background-color: #000;
  color: rgb(214, 214, 29);
  position: relative;
  top: 50px;
}

/* section-8 basladi */

.sect-8 {
  margin-top: 50px;
  width: 100%;
  height: 200px;
  border: 2px solid black;
  background-color: #282828;
  display: flex;
}

.divider {
  width: 2px;
  height: 110px;
  background-color: #000;
  position: relative;
  top: 20px;
}

.sect-9 {
  position: relative;
  left: 140px;
  top: 40px;
}

.sect-10 {
  position: relative;
  left: 30%;
  top: 35%;
}

input {
  width: 300px;
  height: 46px;
  background-color: #514c4c;
  position: relative;
  right: 120px;
}

.image-6 {
  position: relative;
  top: 22px;
  right: 170px;
}

.image-6:hover {
  scale: 1.1;
  transition: 1s;
  cursor: pointer;
}

.yazi-9 {
  color: white;
  font-size: 25px;
  position: relative;
  left: 547px;
  top: 50px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* footer hissesi basladi */

footer {
  width: 100%;
  height: 300px;
  border: 2px solid black;
  background-color: #171717;
  display: flex;
  justify-content: space-evenly;
}

.list-1 {
  position: relative;
  right: 100px;
}
.list-2 {
  position: relative;
  right: 70px;
}

.button-9 {
  width: 120px;
  height: 40px;
  background-color: #000;
  background-color: #f5c400;
  color: rgb(0, 0, 0);
  position: relative;
  top: 25px;
  right: 10px;
}

li .button-9:hover {
  scale: 1.1;
  color: white;
  background-color: green;
  transition: 1s;
}

.fa-brands {
  font-size: 30px;
  position: relative;
  top: 35px;
  right: 30px;
  color: yellow;
}

.li-1 {
  color: yellow;
  font-size: 25px;
}

.li-2 {
  color: rgb(247, 247, 232);
  font-size: 25px;
}

.sect-11 {
  width: 100%;
  height: 70px;
  background-image: url(/assets/img/Background.png);
}

.yazi-10 {
  color: white;
  position: relative;
  left: 43%;
  font-size: 18px;
}

.list-2 li:hover {
  scale: 1.1;
  cursor: pointer;
}
